
header img {
  float:left;
  height: 4em;
  margin-right: 1em;
}
header div{
  padding-top: 0.5em;
}
header h2 {
  margin: 0;
  line-height: 1em;
}
header a {
  box-shadow: none;
}
header h2 a {
  color: #000;
}
header {
  margin-bottom: 2em;
}
header .links {
  margin-bottom: 1em;
}

header .links a {
  margin-right: 0.2em;
  box-shadow: 0 1px 0 0 currentColor;
  /*text-transform: uppercase;*/
}
